html, body {

  background-image: url('https://i.imgur.com/DyUW7R5.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  margin: 0 auto;  
}

// NavBar

.navbar-component {
  .navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
  }
  
  .nav-background {
    background-color: rgb(0, 33, 66) !important;
  }
  
  .fixed-top {
    backface-visibility: hidden;
    z-index: 999 !important;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-top: .8rem;
  }
  
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:hover {
    cursor: pointer;
    // color: #1255ac;
  }  
}

// My Account page

.my-account {

  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;

  .card-height {
    height: 150px;
  }
  #a-card {
    width: 22rem;
    height: 27rem;
    margin: .7rem;
  }
  
  #wide-card {
    width: 18rem;
    height: 22rem;
    margin: .7rem;
  }
  
  #a-card img {
    width: 100%;
    height: 13rem;
  }
  
  .col-sm-6 {
    margin-bottom: 25px;
  }
  
  .title-text-myaccount {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

// Saved items page

.saved-items {

  display: flex;
  justify-content: center;

  padding-top: 100px;

  .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  }

  .list-container {
    max-width: 900px;
    align-content: center;
  }

  .tracker {
    display: flex;
    justify-content: center;
  }

  .list-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 120px;
    width: 900px;
    border-bottom: 2px solid rgb(0, 33, 66);
    color: white;
  }

  .product {
    display: flex;
    align-items: center;
    padding-right: 20px;
    min-width: 300px;
    h1 {
      font-size: 16px;
      width: 150px;
    }
    img {
      height: 90px;
      width: 90px;
      margin-right: 10px;
      border: tan;
      border-radius: 10%;
    }
  }

  .list-details {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100px;
  }

  .volume-1 {
    width: 150px;
  }

  .title-text {
    font-size: 18px;
    text-align: center;
    padding-right: 10px;
  }

  .volume-2 {
    width: 800px;
  }

  .volume-3 {
    width: 400px;
  }
  .category-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .list-text {
    font-size: 18px;
    width: 160px;
    text-align: center;
  }
  
  .list-text-2 {
    font-size: 18px;
    width: 160px;
    text-align: right;
  }
}

// Ordered items page
.my-orders {

  padding-top: 100px;
  
  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    }

    .list-container {
      max-width: 900px;
      align-content: center;
    }

    .tracker {
      display: flex;
      justify-content: center;
    }

    .list-row {
      display: flex;
      flex-direction: row;
      justify-items: start;
      align-items: center;
      height: 120px;
      width: 900px;
      border-bottom: 2px solid rgb(0, 33, 66);
      color: white;
    }

    .order {
      display: flex;
      align-items: center;
      padding-right: 20px;
      min-width: 300px;
    }

    .order-details {
      display: flex;
      text-align: center;
      justify-content: space-between;
      width: 600px;
    }

    .volume-3 {
      width: 400px;
    }

    .list-text {
      font-size: 18px;
      width: 160px;
      text-align: center;
    }
}

// Homepage - Products

.products-page {
  
  padding-top: 100px;
  margin-left: 100px;
  

  #product-image {
    max-height: 200px;
    max-width:  200px;
    margin-top: 10px;
    margin-left: 55px;
  }

  #card-spacing {
    margin-bottom: 25px;
  }

  div {
    display: flex;
    max-width: 350px;
    max-height: 450;
    display: inline-block;
  }

  .card-title {
    height: 57px;
  }
}

// Single product page

.is-rounded {
  border: 5px solid rgb(255, 208, 0);
  border-radius: 10%;
  width: 300px;
}

figure {
  display: flex;
  align-content: flex-start;
}

.s-p-cart {
  margin-right: 25px;
}

.s-p-description {
  margin-bottom: 10px;
}

.review-box {
  border: solid 5px rgb(0, 33, 66);
}

// Cart page

.cart-items {

  display: flex;
  justify-content: center;

  padding-top: 100px;

  .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  }

  .list-container {
    max-width: 900px;
    align-content: center;
  }

  .tracker {
    display: flex;
    justify-content: center;
  }

  .list-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 120px;
    width: 900px;
    color: white;
  }

  .product {
    display: flex;
    align-items: center;
    padding-right: 20px;
    min-width: 300px;
    h1 {
      font-size: 16px;
      width: 150px;
    }
    img {
      height: 90px;
      width: 90px;
      margin-right: 10px;
      border: rgb(255, 200, 0) solid 5px;
      border-radius: 10%;
    }
  }

  .list-details {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100px;
  }

  .volume-1 {
    width: 150px;
  }

  .title-text {
    font-size: 18px;
    text-align: center;
    padding-right: 10px;
  }

  .volume-2 {
    width: 800px;
  }

  .volume-3 {
    width: 400px;
  }
  .category-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .list-text {
    font-size: 18px;
    width: 160px;
    text-align: center;
  }
  
  .list-text-2 {
    font-size: 18px;
    width: 160px;
    text-align: right;
  }

  .sub-total {
    text-align: center;
    text-decoration: underline;
  }

  .top-space {
    margin-top: 20px;
  }
}